gitdraw
gitdraw-cli
gitdraw-cli-*
*.exe

build/bin/
dist/

gitdraw-repo/
*-repo/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

*.test
*.out
coverage.txt

node_modules/
npm-debug.log

frontend/dist/
